<%- include('../partials/header') %>
 <h1>All School Districts</h1>
<!--This is the page that shows all districts-->
<section class="container">
 <% districts.forEach(function(d) { %>
  <div class="all-list">
      District Name:
        <%= d.districtName %>
        <br>
      Address: 
     <%= d.address %>
     <br>
 <a href="/districts/<%= d._id %>">DETAILS</a></div>
<% }); %>
   
 </section> 
  
<%- include('../partials/footer') %> 