<%- include('../partials/header') %>
 <div class="container">

 <% districts.forEach(function(d) { %>
      <tr class="school-list">
  <div class="image-con">School Picture:
        <%= d.districtPic %></div>
  <div class="name-con">District Name:
        <%= d.districtName %></div>
  <div class="address-con">Address: 
     <%= d.address %></div> 
 <div class="details"><a href="/districts/<%= d._id %>">DETAILS</a></div>
<% }); %>
   
 </div> 
  
<%- include('../partials/footer') %> 